/* ---------- GENERAL ---------- */
body {
  background: #1f1f1f;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* ---------- NAVBAR ---------- */
.p-navbar {
  background: #151515;
  padding: 14px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

.p-navbar-logo {
  font-weight: 700;
  color: #fff;
}

.p-navbar-menu {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-navbar-menu a {
  color: #c8c8c8;
  text-decoration: none;
}

.p-navbar-menu a:hover,
.p-active {
  color: #3fd18c !important;
}

/* ---------- CONTENEDOR ---------- */
.p-container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.p-title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

/* ---------- CONTROLES ---------- */
.p-controls {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 1.5rem;
}

.p-input {
  background: #222;
  border: 1px solid #444;
  padding: 0.5rem 0.7rem;
  color: #fff;
  border-radius: 4px;
}

.p-btn-primary {
  background-color: #4CAF50;
  color: #000;
  border: none;
  padding: 0.55rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.p-btn-primary:hover {
  background: #6bb4ff;
}

/* ---------- TABLA ---------- */
.p-tabla {
  width: 100%;
  border-collapse: collapse;
  background: #1a1a1a;
}

.p-tabla th,
.p-tabla td {
  padding: 0.75rem;
  border-bottom: 1px solid #333;
}

.p-tabla th {
  background: #222;
  font-weight: bold;
}

.acciones-productos {
    display: flex;
    gap: 8px;      /* separación entre botones */
    align-items: center;
}

.p-btn-action {
  color: white;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.p-btn-edit {
  background-color: #4CAF50;
}

.p-btn-delete {
  background-color: #e53935;
}

/* ---------- MODAL ---------- */
.p-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  justify-content: center;
  align-items: center;
}

.p-modal-content {
  background: #1d1d1d;
  padding: 1.5rem;
  width: 420px;
  border-radius: 6px;
}

.p-close {
  float: right;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ccc;
}

.p-form-group {
  margin-bottom: 1rem;
}

.p-subtitle {
  margin-bottom: 1rem;
}
